{{ define "index.tmpl" }}
{{ template "header.tmpl" . }}

  <main>
    <body>
      <section>
        <div class="container">
          <div class="card-img-block">
            <img src="http://www.thepinballlounge.com/pb/wp_0fa0cf0b/images/img165275761bbe29f98e.gif" alt="The Pinball Lounge">
          </div>
        </div>
      </section>
    </body>
  </main>

{{ template "footer.tmpl" . }}
{{ end }}